<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Added a Person</title>
  </head>
  <body>
    <h1>Hooray! We added a person</h1>

    <ul>
      <li>Name: <%= "SOMETHING GOES HERE" %></li>
      <li>Address: <%= "SOMETHING GOES HERE" %></li>
      <!-- <li>In their own <li>s add other attributes of a person here </li> -->
      <!-- e.g. there should be as many <li> as there are attributes of a person -->
    </ul>
  </body>
</html>
