<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>TIY Database - Powered by the Web</h1>

    <ul>
      <li><a href="/prompt-to-add">Add a person</a></li>
      <li><a href="/prompt-to-search">Search a person</a></li>
      <li><a href="/prompt-to-delete">Delete a person</a></li>
      <li><a href="/report">Generate a report</a></li>
    </ul>
  </body>
</html>
