<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search a Person</title>
  </head>
  <body>
    <form class="" action="/search" method="get">
      <input name="name" type="text">
      <input type="submit" value="Save">
    </form>
  </body>
</html>
