<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Person</title>
  </head>
  <body>
    <form class="" action="/add" method="get">
      <p>Name <input name="name" type="text"></p>
      <p>Phone Number <input name="phone_number" type="text"></p>
      <p>Address <input name="address" type="text"></p>
      <p>Position <input name="position" type="text"></p>
      <p>Salary <input name="salary" type="text"></p>
      <p>Github <input name="github_account" type="text"></p>
      <p>Slack <input name="slack_account" type="text"></p>
      <input type="submit" value="Save">
    </form>
  </body>
</html>
